/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

.hero {
  width: 100%;
  background: url("../imagenes/slime.jpg") no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  color: white;
  position: relative;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  padding: 40px 10px;
}
.hero::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, rgba(16, 16, 16, 0.5), rgba(10, 10, 10, 0.95));
}
.hero__title {
  font-size: 1.3em;
  position: relative;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.counter {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.counter--botom {
  font-size: 5px;
}
.counter__text {
  font-size: 11px;
}
.counter__container {
  display: flex;
  font-size: 11px;
}
.counter__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}
.counter__number {
  font-size: 2em;
}
.counter__type {
  font-size: 1em;
}

.page {
  background: #303d4f;
}

.header {
  background: rgba(55, 57, 65, 0.9);
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  height: 60px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.836);
}
.header__container {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  align-items: center;
  position: relative;
  width: 100%;
}
.header__inicio {
  display: flex;
  align-items: center;
}
.header__media {
  display: none;
  width: 3.4375em;
  height: 3.4375em;
  float: left;
}
.header__menu {
  padding: 10px;
}
.header__menu:hover ~ .nav {
  display: flex;
  min-width: 50vw;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.header__menu-svg {
  height: 20px;
  width: 20px;
  color: #fff;
  cursor: pointer;
}
.header__clouse-svg {
  height: 20px;
  width: 20px;
  color: #fff;
  display: none;
}
.header__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__text {
  color: white;
  padding: 0 10px;
  font-size: 1.5em;
  text-decoration: none;
}
.header__bar {
  height: 5px;
  width: 118px;
  background: #2b7fa8;
  transform: rotate(1deg);
  border-radius: 5px;
}

.nav {
  display: none;
  align-items: center;
  padding: 0 15px;
  margin-left: 0;
  flex-wrap: nowrap;
  justify-content: flex-end;
  position: absolute;
  flex-direction: column;
  top: 50px;
  left: 0;
  z-index: 100;
  background-color: #273242;
}
.nav__list {
  list-style: none;
}
.nav__item {
  display: inline-block;
}
.nav__link {
  text-decoration: none;
  font-size: 17px;
  display: inline-block;
  align-items: center;
  flex-direction: column;
  padding: 17px 13px;
  color: #fff;
  transition: 0.7s;
}
.nav__span {
  font-size: 16px;
  font-family: Georgia, "Times New Roman", Times, serif;
  transition: -5s;
  text-align: center;
  width: 100%;
}
.nav__icon {
  width: 20px;
  height: 20px;
  color: white;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 10px;
  position: relative;
}
.profile__icon {
  border-radius: 13px;
  height: 50px;
  width: 50px;
}
.profile__login {
  display: none;
  align-items: center;
  top: 42px;
  left: -57px;
  background: #2b3650;
  position: absolute;
  height: 39px;
  padding: 5px;
  border-bottom: 1px solid;
  z-index: 9000;
}
.profile:hover .profile__login {
  position: absolute;
  display: flex;
}
.profile__login-icon {
  height: 18px;
  width: 20px;
}
.profile__text {
  font-size: 16px;
  color: #Ffffff;
  padding: 5px;
}
.profile__flecha {
  height: 18px;
  width: 20px;
  color: #fff;
  transform: rotate(90deg);
}
.profile:hover .profile__flecha {
  transform: rotate(270deg);
  transition: 0.5s;
}

.main__container {
  width: 100%;
}
.main__link {
  text-decoration: none;
  color: #fff;
}
.main__background {
  background-image: url(../imagenes/slime.jpg);
}
.main__background--nublado::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #13131367;
  z-index: 1;
}
.main__animeinfo {
  display: flex;
  padding: 25px 10px;
}
.main__titulo {
  align-items: center;
  width: 60%;
  justify-content: center;
}
.main__nombre {
  font-size: 1.3em;
}
.main__contador {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__simultaneo {
  text-align: center;
  margin: 15px auto;
}
.main__next {
  font-weight: 400;
}
.main__lista {
  list-style: none;
}
.main__item {
  display: inline-block;
  font-size: 1em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}
.main__time {
  display: block;
  font-size: 2em;
}
.main__fondo {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
}
.main__izquierda {
  width: 350px;
  max-width: 30%;
  margin-top: 20px;
  display: none;
}
.main__articulos {
  margin: 5px auto;
  max-width: 95%;
  display: none;
}
.main__faceboock {
  margin-bottom: 15px;
  display: none;
}
.main__img-popular {
  display: none;
}
.main__derecha {
  width: 100%;
}
.main__card {
  width: 220px;
  height: 130px;
  background: #273242;
  border: 1px solid transparent;
  border-radius: 3px;
  transition: 1s linear;
  overflow: hidden;
  position: relative;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.main__separador {
  margin: 20px;
  color: #fff;
  padding: 5px 10px;
  border-bottom: 2px solid #273242;
  display: flex;
  align-items: center;
}
.main__separador-svg {
  height: 20px;
  width: 22px;
  color: #fff;
  font-size: 17px;
  padding-right: 5px;
}
.main__separador-text {
  font-size: 17px;
  font-family: sans-serif;
}
.main__items {
  display: grid;
  gap: 8px;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
}
.main__episode {
  margin-bottom: 10px;
  width: 100%;
  max-width: 220px;
  height: 100%;
  text-decoration: none;
  color: #fff;
  position: relative;
  overflow: hidden;
}
.main__episode:hover .main__effect {
  width: 100%;
  background: #2b7fa8;
  position: absolute;
}
.main__episode:hover .main__image {
  transform: scale(1.1);
  width: 100%;
  height: 100%;
}
.main__image {
  width: 100%;
  height: 100%;
  transform: scale(1);
  transition: 0.3s ease-in-out;
  object-fit: cover;
}
.main__date {
  position: absolute;
  right: 2px;
  bottom: 25px;
  padding: 3px;
  border-radius: 4px;
  background: #2b7fa8;
  color: #fff;
  font-size: 13px;
}
.main__title {
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  padding: 5px 5px;
  background: rgba(39, 50, 66, 0.6);
  font-size: 14px;
  font-weight: 700;
  text-align: left;
}
.main__effect {
  background: #273242;
  width: 0px;
  height: 3px;
  margin: 0 auto;
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  cursor: pointer;
  transition: width 0.3s ease-in-out;
}
.main__comments {
  background: #273242;
  padding: 15px;
  border-radius: 3px;
}

.comment-policy {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  width: 274px;
  height: 134px;
  border-radius: 4px;
  padding: 15px;
  position: relative;
}
.comment-policy__title {
  font-size: 15px;
  font-weight: 600;
  padding-right: 70px;
  padding-bottom: 5px;
  line-height: 1.45em;
}
.comment-policy__text {
  font-size: 14px;
  line-height: 1.45em;
  color: rgba(255, 255, 255, 0.85);
  padding-right: 70px;
}
.comment-policy__icon {
  height: 60px;
  width: 60px;
  position: absolute;
  top: 46px;
  right: 5px;
}