/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.hero {
  width: 100%;
  background: url("../imagenes/slime.jpg") no-repeat center;
  background-size: cover;
  display: flex;
  font-family: sans-serif;
  color: white;
  position: relative;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  padding: 40px 10px;
}
.hero::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, rgba(16, 16, 16, 0.5), rgba(10, 10, 10, 0.95));
}
.hero__title {
  font-size: 1.3em;
  position: relative;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter {
  position: relative;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.counter--botom {
  font-size: 5px;
}
.counter__text {
  font-size: 1em;
}
.counter__container {
  display: flex;
}
.counter__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}
.counter__number {
  font-size: 2em;
}
.counter__type {
  font-size: 1em;
}

.pagina {
  background: #303d4f;
}

.header {
  background: rgba(55, 57, 65, 0.9);
  top: 0;
  left: 0;
  right: 0;
  padding: 0 5px;
  display: flex;
  align-items: center;
  height: 60px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.836);
}
.header__container {
  width: 1000px;
  max-width: 90%;
  margin: 0 auto;
  padding: 0;
  height: inherit;
  align-items: center;
  display: flex;
  position: relative;
}
.header__media {
  height: 50px;
}
.header__titulo {
  font-size: 25px;
  color: #fff;
  position: relative;
  display: inline-block;
  top: 5px;
  left: -10px;
}
.header__texto {
  display: block;
}
.header__barra {
  height: 5px;
  background: #00aeff;
  transform: rotate(1deg);
}

.nav {
  align-items: center;
  padding: 0 15px;
  margin-left: 0;
  display: flex;
}
.nav__list {
  list-style: none;
}
.nav__item {
  display: inline-block;
}
.nav__link {
  text-decoration: none;
  font-size: 13px;
  display: inline-block;
  align-items: center;
  flex-direction: column;
  height: inherit;
  padding: 7px 13px;
  color: #fff;
  justify-content: center;
  transition: 0.7s;
  margin: 0 5px;
}
.nav__span {
  font-size: 16px;
  font-family: Georgia, "Times New Roman", Times, serif;
  transition: -5s;
  text-align: center;
  width: 100%;
}
.nav__icon {
  width: 25px;
  height: 25px;
}

.perfil {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  right: 0;
  flex-grow: 1;
}
.perfil__icon {
  border-radius: 13px;
  height: 50px;
  width: 50px;
}

.flecha__icon {
  font-size: 2em;
}

.main__container {
  width: 1100px;
  max-width: 95%;
  margin: 10px auto;
  margin-top: 80px;
  position: relative;
}
.main__link {
  text-decoration: none;
  color: #fff;
}
.main__background {
  background-image: url(../imagenes/slime.jpg);
}
.main__background--nublado::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #13131367;
  z-index: 1;
}
.main__animeinfo {
  display: flex;
  padding: 25px 10px;
}
.main__titulo {
  align-items: center;
  width: 60%;
  justify-content: center;
}
.main__nombre {
  font-size: 1.3em;
}
.main__contador {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__simultaneo {
  text-align: center;
  margin: 15px auto;
}
.main__next {
  font-weight: 400;
}
.main__lista {
  list-style: none;
}
.main__item {
  display: inline-block;
  font-size: 1em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}
.main__time {
  display: block;
  font-size: 2em;
}
.main__fondo {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
}
.main__izquierda {
  width: 350px;
  max-width: 30%;
  margin-top: 20px;
}
.main__articulos {
  margin: 5px auto;
  max-width: 95%;
}
.main__faceboock {
  margin-bottom: 15px;
}
.main__derecha {
  width: 750px;
  max-width: 70%;
}
.main__separador {
  margin: 20px;
  padding: 5px 10px;
  border-bottom: 2px solid #273242;
}
.main__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.main__episodio {
  margin-bottom: 10px;
  text-decoration: none;
  color: #fff;
}
.main__card {
  width: 220px;
  height: 130px;
  background: #273242;
  border: 1px solid transparent;
  border-radius: 3px;
  transition: 1s linear;
  overflow: hidden;
  position: relative;
}
.main--image {
  height: inherit;
  width: inherit;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__fecha {
  position: absolute;
  right: 2px;
  bottom: 25px;
  padding: 3px;
  border-radius: 4px;
  background: #2b7fa8;
  color: #fff;
  font-size: 13px;
}
.main__numero {
  margin-right: 5px;
}
.main__title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2px 0;
  background: rgba(39, 50, 66, 0.6);
  font-size: 14px;
  font-weight: 700;
  text-align: left;
}
.main__noun {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  width: 95%;
  margin-left: 5px;
  text-overflow: ellipsis;
}
.main__barra {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  background: #273242;
}
.main__efecto {
  background: #2b7fa8;
  width: 0;
  transition: 0.5s;
  height: inherit;
  margin: 0 auto;
}