include ./pug/IconArrow.pug
include ./pug/main_items.pug
doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		title Anime-Flash
		link(rel='stylesheet' href='style.css')
	body
		.page
			.header
				.header__container
					.header__menu
						img.header__menu-svg(src="/iconos/Icon_menu_header.svg", alt="")
						img.header__clouse-svg(src="/iconos/Icon_nav_clouse.svg", alt="")
					img.header__media(src='/imagenes/LogoA.png' alt='')
					.header__title
						span.header__text AnimeFlash
						span.header__bar
					nav.nav
						a.nav__link(href="#")
							img.nav__icon(src="iconos/libro-header.svg", alt="")
							| Directorio
						a.nav__link(href="#") 
							span.nav__span 
								include ../iconos/calendar-header.svg
								|	Emision 
						a.nav__link(href="#")
							span.nav__span 
								include ../iconos/donar-header.svg
								| Donar
						a.nav__link(href="#")
							span.nav__span 
								include ../iconos/noticias-header.svg
								|	Noticias
					.profile
						img.profile__icon(src='/imagenes/Onepice.png' alt='imagen perfil')
						+IconArrow(class="profile__flecha")
						.profile__login
							img.profile__login-icon(src="/iconos/Icon_perfil_login.svg", alt="")
							p.profile__text Iniciar sesion
			.main
				.main__container
					.hero
						h2.hero__title Tensei shitara slime 
						.counter
							p.counter__text Proximo episodio:
							ul.counter__container
								li.counter__item
									p.counter__number 0 
									p.counter__type Días 
								li.counter__item
									p.counter__number 21 
									p.counter__type Horas 
								li.counter__item
									p.counter__number 17 
									p.counter__type Minutos 
								li.counter__item
									p.counter__number 56 
									p.counter__type Segundos 
					.main__fondo
						.main__izquierda
							.main__articulos
								.main__faceboock
									iframe(src='https://www.facebook.com/AnimeFlashJP/' width='100%' height='130' scrollin='no' allow='encrypted-media' frameborder='0')
							.main__popular
								img.main__img-popular(src='/imagenes/famoso.png' width='100%')
						.main__derecha
							.main__separador
								img.main__separador-svg(src=".iconos/Icon_derecha_reloj.svg", alt="")
								span.main__separador-text Ultimos episiodios
							.main__items
								+item("www.google.com","imagenes/Onepice.png","# 10","Heion Sedai no Idanten")(class="hola")
								+item("www.youtube.com","imagenes/octava.jpg","# 12","Heion Sedai no asd")(class="hola")
								a.main__episode(href='https://animeflash.xyz/ver/45412/heion-sedai-no-idaten-tachi-10')
									.media__card
										img.media__card-img(src='/imagenes/primero.jpg' alt='')
										p.media__date "#" "10"
										p.media__title Heion Sedai no Idanten
										.main__bar
											.main__effect
								a.main__episode(href='https://animeflash.xyz/ver/45412/heion-sedai-no-idaten-tachi-10')
									.media__card
										img.media__card-img(src='/imagenes/primero.jpg' alt='')
										p.media__date "#" "10"
										p.media__title Heion Sedai no Idanten
										.main__bar
											.main__effect
								a.main__episode(href='https://animeflash.xyz/ver/45412/heion-sedai-no-idaten-tachi-10')
									.media__card
										img.media__card-img(src='/imagenes/primero.jpg' alt='')
										p.media__date "#" "10"
										p.media__title Heion Sedai no Idanten
										.main__bar
											.main__effect
