include ./pug/IconArrow.pug
include ./pug/main_items.pug
include ./pug/hero_accountant.pug
include ./pug/nav.pug
doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		title Anime-Flash
		link(rel='stylesheet' href='style.css')
	body
		.page
			.header
				.header__container
					.header__menu
						img.header__menu-svg(src="/iconos/Icon_menu_header.svg", alt="")
						img.header__clouse-svg(src="/iconos/Icon_nav_clouse.svg", alt="")
					img.header__media(src='/imagenes/LogoA.png' alt='')
					.header__title
						span.header__text AnimeFlash
						span.header__bar
					nav.nav
						+nav("#","iconos/libro-header.svg")(class="nav__link") 
						| Directorioooo
						+nav("#","iconos/calendar-header.svg")(class="nav__link")
						|	Emision 
						+nav("#","iconos/donar-header.svg")(class="nav__link")
						| Donar
						+nav("#","iconos/noticias-header.svg")(class="nav__link")
						|	Noticias
					.profile
						img.profile__icon(src='/imagenes/Onepice.png' alt='imagen perfil')
						+IconArrow(class="profile__flecha")
						.profile__login
							img.profile__login-icon(src="/iconos/Icon_perfil_login.svg", alt="")
							p.profile__text Iniciar sesion
			.main
				.main__container
					+accountant("Tensei shitara slime","Proximo episodio:","0","Dias","21","Horas","17","Minutos","56","Segundos")
					.main__fondo
						.main__izquierda
							.main__articulos
								.main__faceboock
									iframe(src='https://www.facebook.com/AnimeFlashJP/' width='100%' height='130' scrollin='no' allow='encrypted-media' frameborder='0')
							.main__popular
								img.main__img-popular(src='/imagenes/famoso.png' width='100%')
						.main__derecha
							.main__separador
								img.main__separador-svg(src=".iconos/Icon_derecha_reloj.svg", alt="")
								span.main__separador-text Ultimos episiodios
							.main__items
								+item("https://animeflash.xyz/ver/45412/heion-sedai-no-idaten-tachi-10","imagenes/primero.jpg","# 10","Heion Sedai no Idanten")(class="main__episode")
								+item("https://animeflash.xyz/ver/45412/heion-sedai-no-idaten-tachi-10","imagenes/primero.jpg","# 10","Heion Sedai no Idanten")(class="main__episode")
								+item("https://animeflash.xyz/ver/45412/heion-sedai-no-idaten-tachi-10","imagenes/primero.jpg","# 10","Heion Sedai no Idanten")(class="main__episode")
								+item("https://animeflash.xyz/ver/45412/heion-sedai-no-idaten-tachi-10","imagenes/primero.jpg","# 10","Heion Sedai no Idanten")(class="main__episode")
								+item("https://animeflash.xyz/ver/45412/heion-sedai-no-idaten-tachi-10","imagenes/primero.jpg","# 10","Heion Sedai no Idanten")(class="main__episode")
								+item("https://animeflash.xyz/ver/45412/heion-sedai-no-idaten-tachi-10","imagenes/primero.jpg","# 10","Heion Sedai no Idanten")(class="main__episode")
								+item("https://animeflash.xyz/ver/45412/heion-sedai-no-idaten-tachi-10","imagenes/primero.jpg","# 10","Heion Sedai no Idanten")(class="main__episode")
								+item("https://animeflash.xyz/ver/45412/heion-sedai-no-idaten-tachi-10","imagenes/primero.jpg","# 10","Heion Sedai no Idanten")(class="main__episode")
								+item("https://animeflash.xyz/ver/45412/heion-sedai-no-idaten-tachi-10","imagenes/primero.jpg","# 10","Heion Sedai no Idanten")(class="main__episode")
								+item("https://animeflash.xyz/ver/45412/heion-sedai-no-idaten-tachi-10","imagenes/primero.jpg","# 10","Heion Sedai no Idanten")(class="main__episode")
								+item("https://animeflash.xyz/ver/45412/heion-sedai-no-idaten-tachi-10","imagenes/primero.jpg","# 10","Heion Sedai no Idanten")(class="main__episode")
								+item("https://animeflash.xyz/ver/45412/heion-sedai-no-idaten-tachi-10","imagenes/primero.jpg","# 10","Heion Sedai no Idanten")(class="main__episode")
								+item("https://animeflash.xyz/ver/45412/heion-sedai-no-idaten-tachi-10","imagenes/primero.jpg","# 10","Heion Sedai no Idanten")(class="main__episode")
								+item("https://animeflash.xyz/ver/45412/heion-sedai-no-idaten-tachi-10","imagenes/primero.jpg","# 10","Heion Sedai no Idanten")(class="main__episode")
								+item("https://animeflash.xyz/ver/45412/heion-sedai-no-idaten-tachi-10","imagenes/primero.jpg","# 10","Heion Sedai no Idanten")(class="main__episode")

