doctype html
html(lang="en")
	include ./pug/head
	body 
		.pagina
			.header
				.header__container
					a.header__inicio(href="#")
						img.header__media(src="/imagenes/LogoA.png", alt="")
						.header__titulo
							span.header__texto AnimeFlash
							span.header__barra
					nav.nav
						ul.nav__list
							li.nav__item
								a.nav__link(href="#")
									span.nav__span Directorio
										include ../iconos/libro-header.svg
								a.nav__link(href="#") 
									span.nav__span Emision 
										include ../iconos/calendar-header.svg
								a.nav__link(href="#")
									span.nav__span Donar
										include ../iconos/donar-header.svg
								a.nav__link(href="#")
									span.nav__span Noticias
										include ../iconos/noticias-header.svg
					.perfil
						.perfil__imagen
							img.perfil__icon(src="/imagenes/Onepice.png", alt="imagen perfil")
						.perfil__flecha
							span.perfil__span
								include ../iconos/flecha-perfil.svg
			.main
				.main__container
					.hero
						h2.hero__title Tensei shitara slime Datta
						.counter
							p.counter__text Proximo episodio:
								ul.counter__container
									li.counter__item
										p.counter__number 0 
										p.counter__type Días	
									li.counter__item
										p.counter__number 21 
										p.counter__type Horas	
									li.counter__item
										p.counter__number 17 
										p.counter__type Minutos	
									li.counter__item
										p.counter__number 56 
										p.counter__type Segundos		
					.main__fondo 
						.main__Izquierda
							.main__articulos
								.main__faceboock
									iframe(src="https://www.facebook.com/AnimeFlashJP/", width="100%" height="130" scrollin="no" allow="encrypted-media" frameborder="0")
							.main__popular
								img(src="/imagenes/famoso.png", width="100%")
						.main__derecha 
							.main__capitulos
								.main__separador
									span.main__reloj
											| Ultimos episiodios
								.main__items
									a.main__episodio(href="https://animeflash.xyz/ver/45412/heion-sedai-no-idaten-tachi-10") 
										.media__card
											.media__card--image
												img(src="/imagenes/primero.jpg", alt="")
											.media__fecha
												span.media__numero "#" "10"
											.media__title
												span.media__noun Heion Sedai no Idanten
											.main__barra
												.main__efecto
		.counter.counter--botom
			p.counter__text Proximo episodio:
				ul.counter__container
					li.counter__item
						p.counter__number 0 
						p.counter__type Días	
					li.counter__item
						p.counter__number 21 
						p.counter__type Horas	
					li.counter__item
						p.counter__number 17 
						p.counter__type Minutos	
					li.counter__item
						p.counter__number 56 
						p.counter__type Segundos	


