include ./pug/IconArrow.pug
include ./pug/main_items.pug
include ./pug/hero_accountant.pug
include ./pug/nav.pug
include ./pug/policy.pug
include ./pug/disqus.pug
include ./pug/disqus_icons.pug
include ./pug/disqus_info.pug
include ./pug/disqus_ordering.pug
include ./pug/disqus_down.pug
doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		title Anime-Flash
		link(rel='stylesheet' href='style.css')
	body
		.page
			.header
				.header__container
					.header__menu
						img.header__menu-svg(src="/iconos/Icon_menu_header.svg", alt="")
						img.header__clouse-svg(src="/iconos/Icon_nav_clouse.svg", alt="")
					img.header__media(src='/imagenes/LogoA.png' alt='')
					.header__title
						span.header__text AnimeFlash
						span.header__bar
					nav.nav
						+nav("#","iconos/libro-header.svg","Directorio")(class="nav__link")
						+nav("#","iconos/calendar-header.svg","Emision")(class="nav__link")
						+nav("#","iconos/donar-header.svg","Donar")(class="nav__link")
						+nav("#","iconos/noticias-header.svg","Noticias")(class="nav__link")
					.profile
						img.profile__icon(src='/imagenes/Onepice.png' alt='imagen perfil')
						+IconArrow(class="profile__flecha")
						.profile__login
							img.profile__login-icon(src="/iconos/Icon_perfil_login.svg", alt="")
							p.profile__text Iniciar sesion
			.main
				.main__container
					+accountant("Tensei shitara slime","Proximo episodio:","0","Dias","21","Horas","17","Minutos","56","Segundos")
					.main__fondo
						.main__izquierda
							.main__articulos
								.main__faceboock
									iframe(src='https://www.facebook.com/AnimeFlashJP/' width='100%' height='130' scrollin='no' allow='encrypted-media' frameborder='0')
							.main__popular
								img.main__img-popular(src='/imagenes/famoso.png' width='100%')
						.main__derecha
							.main__separador
								img.main__separador-svg(src="/iconos/Icon_derecha_reloj.svg", alt="")
								span.main__separador-text Ultimos episiodios
							.main__items
								+item("https://animeflash.xyz/ver/45412/heion-sedai-no-idaten-tachi-10","imagenes/primero.jpg","# 10","Heion Sedai no Idanten")(class="main__episode")
								+item("https://animeflash.xyz/ver/45412/heion-sedai-no-idaten-tachi-10","imagenes/primero.jpg","# 10","Heion Sedai no Idanten")(class="main__episode")
								+item("https://animeflash.xyz/ver/45412/heion-sedai-no-idaten-tachi-10","imagenes/primero.jpg","# 10","Heion Sedai no Idanten")(class="main__episode")
								+item("https://animeflash.xyz/ver/45412/heion-sedai-no-idaten-tachi-10","imagenes/primero.jpg","# 10","Heion Sedai no Idanten")(class="main__episode")
								+item("https://animeflash.xyz/ver/45412/heion-sedai-no-idaten-tachi-10","imagenes/primero.jpg","# 10","Heion Sedai no Idanten")(class="main__episode")
								+item("https://animeflash.xyz/ver/45412/heion-sedai-no-idaten-tachi-10","imagenes/primero.jpg","# 10","Heion Sedai no Idanten")(class="main__episode")
								+item("https://animeflash.xyz/ver/45412/heion-sedai-no-idaten-tachi-10","imagenes/primero.jpg","# 10","Heion Sedai no Idanten")(class="main__episode")
								+item("https://animeflash.xyz/ver/45412/heion-sedai-no-idaten-tachi-10","imagenes/primero.jpg","# 10","Heion Sedai no Idanten")(class="main__episode")
								+item("https://animeflash.xyz/ver/45412/heion-sedai-no-idaten-tachi-10","imagenes/primero.jpg","# 10","Heion Sedai no Idanten")(class="main__episode")
								+item("https://animeflash.xyz/ver/45412/heion-sedai-no-idaten-tachi-10","imagenes/primero.jpg","# 10","Heion Sedai no Idanten")(class="main__episode")
								+item("https://animeflash.xyz/ver/45412/heion-sedai-no-idaten-tachi-10","imagenes/primero.jpg","# 10","Heion Sedai no Idanten")(class="main__episode")
								+item("https://animeflash.xyz/ver/45412/heion-sedai-no-idaten-tachi-10","imagenes/primero.jpg","# 10","Heion Sedai no Idanten")(class="main__episode")
								+item("https://animeflash.xyz/ver/45412/heion-sedai-no-idaten-tachi-10","imagenes/primero.jpg","# 10","Heion Sedai no Idanten")(class="main__episode")
								+item("https://animeflash.xyz/ver/45412/heion-sedai-no-idaten-tachi-10","imagenes/primero.jpg","# 10","Heion Sedai no Idanten")(class="main__episode")
								+item("https://animeflash.xyz/ver/45412/heion-sedai-no-idaten-tachi-10","imagenes/primero.jpg","# 10","Heion Sedai no Idanten")(class="main__episode")
					.main__comments 
						.comment-policy
							+policy("Política de Comentarios de Animeflash","Para poner spoiler hagan estas etiquetas &#60spoiler&#63 spoiler que se trgara :v spoiler","iconos/icon_footer_coments.svg")
						.disqus
							+disqus("/#","Comentarios","#","Comunidad","iconos/icon_footer_lock.svg")(class="disqus__comment")
						.disqus__icons
							+disqus_icons("iconos/icon_footer_coment.svg","iconos/icon_footer_boxuser.svg")
							.disqus__arrow
							.disqus__info
								+disqus_info("Tu Perfil","Ocutal Medios","Editar Configuracion","Cerrar Sesion")
						.disqus__ordering 
							+disqus_ordering("iconos/icon_footer_favorite.svg","Favorite","3589")
						.disqus__list
							p.disqus__new ordenar por el mas nuevo
							.disqus__drop
							.disqus__down
								+disqus_down("Mejor","Lo mas nuevo","Mas antiguo")
						.disqus__coments
							.disqus__discussion
								p.disqus__enter Unete a la discusion...
							.disqus__posts
								p.disqus__fresh Mostrar 350 Nuevos Comentarios
						.disqus__post
							.disqus__header-comment
								.disqus__username
									img.disqus__avatar(src="imagenes/perfil_img.jpg", alt="")
									.disqus__text-container
										p.disqus__nick Daku 
										p.disqus__last-time hace una hora
								.disqus__opcions
									p.disqus__hide -
									p.disqus__drop
							p.disqus__chat for too loooong too loooong yeah you make me feel aliveeeeeeeee
							.disqus__footer
								img.disqus__arrow-up(src="iconos/icon_arrow_up.svg", alt="")
								p.disqus__pipe |
								img.disqus__arrow-down(src="iconos/icon_arrow_down.svg", alt="")
								P.disqus__answer Responder
							.disqus__header-comment
								.disqus__username
									img.disqus__avatar(src="imagenes/perfil_img_2.jpg", alt="")
									.disqus__text-container
										p.disqus__nick Daku 
										p.disqus__last-time hace una hora
								.disqus__opcions
									p.disqus__hide -
									p.disqus__drop
							p.disqus__chat Facilisimo verdad?.
							.disqus__footer
								img.disqus__arrow-up(src="iconos/icon_arrow_up.svg", alt="")
								p.disqus__pipe |
								img.disqus__arrow-down(src="iconos/icon_arrow_down.svg", alt="")
								P.disqus__answer Responder
							.disqus__response 
								.disqus__space
									.disqus__line
								.disqus__sub-comment 
									.disqus__header-comment
										.disqus__username
											img.disqus__avatar(src="imagenes/perfil_img_3.jpg", alt="")
											.disqus__text-container
												p.disqus__nick Daku 
												p.disqus__last-time hace 30 min
										.disqus__opcions
											p.disqus__hide -
											p.disqus__drop
									p.disqus__chat Maten a los Champiñones.
									.disqus__footer
										img.disqus__arrow-up(src="iconos/icon_arrow_up.svg", alt="")
										p.disqus__pipe |
										img.disqus__arrow-down(src="iconos/icon_arrow_down.svg", alt="")
										P.disqus__answer Responder
									.disqus__response 
										.disqus__space
											.disqus__line
										.disqus__sub-comment 
											.disqus__header-comment
												.disqus__username
													img.disqus__avatar(src="imagenes/perfil_img_3.jpg", alt="")
													.disqus__text-container
														p.disqus__nick Daku 
														p.disqus__last-time hace 30 min
												.disqus__opcions
													p.disqus__hide -
													p.disqus__drop
											p.disqus__chat Maten a los Champiñones.
											.disqus__footer
												img.disqus__arrow-up(src="iconos/icon_arrow_up.svg", alt="")
												p.disqus__pipe |
												img.disqus__arrow-down(src="iconos/icon_arrow_down.svg", alt="")
												P.disqus__answer Responder
						.disqus__more-comment 
							p.disqus__load Cargar mas comentarios
						.disqus__container-footer
							.disqus__sub 
								img.disqus__email(src="iconos/icon_footer_email.svg", alt="")
								p.disqus__subscribe Suscribirse
							.disqus__data 
								img.disqus__danger(src="iconos/icon_footer_aviso.svg", alt="")
								p.disqus__nostell Do Not Stell My Data
							.disqus__pluggin 
							p.disqus__big DISQUS
					.main__face
						iframe(src='https://www.facebook.com/AnimeFlashJP/' width='100%' height='130' scrollin='no' allow='encrypted-media' frameborder='0')
					.main__anime-top
						img.main__img-top(src="imagenes/top.png", alt="")

