.main {


	&__container {
		width: 100%;
	}

	&__link {
		text-decoration: none;
		color: #fff;
	}

	&__background {
		background-image: url(../imagenes/slime.jpg);
	}

	&__background--nublado::after {
		// content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #13131367;
		z-index: 1;
	}

	&__animeinfo {
		display: flex;
		padding: 25px 10px;
	}

	&__titulo {
		align-items: center;
		width: 60%;
		justify-content: center;
	}

	&__nombre {
		font-size: 1.3em;
	}

	&__contador {
		width: 40%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__simultaneo {
		text-align: center;
		margin: 15px auto;
	}

	&__next {
		font-weight: 400;
	}

	&__lista {
		list-style: none;
	}

	&__item {
		display: inline-block;
		font-size: 1em;
		list-style-type: none;
		padding: 1em;
		text-transform: uppercase;
	}

	&__time {
		display: block;
		font-size: 2em;
	}

	&__fondo {
		display: flex;
		flex-wrap: nowrap;
		align-items: flex-start;
	}

	&__izquierda {
		width: 350px;
		max-width: 30%;
		margin-top: 20px;
		display: none;
	}

	&__articulos {
		margin: 5px auto;
		max-width: 95%;
		display: none;
	}

	&__faceboock {
		margin-bottom: 15px;
		display: none;
	}

	&__img-popular {
		display: none;
	}

	&__derecha {
		width: 100%;

	}

	&__card {
		width: 220px;
		height: 130px;
		background: #273242;
		border: 1px solid transparent;
		border-radius: 3px;
		transition: 1s linear;
		overflow: hidden;
		position: relative;
		display: flex;
		align-content: center;
		flex-wrap: wrap;
		flex-direction: column;
	}

	&__separador {
		margin: 20px;
		color: #fff;
		padding: 5px 10px;
		border-bottom: 2px solid #273242;
		display: flex;
		align-items: center;
	}

	&__separador-svg {
		height: 20px;
		width: 22px;
		color: #fff;
		font-size: 17px;
		padding-right: 5px;

	}

	&__separador-text {
		font-size: 17px;
		font-family: sans-serif;

	}

	&__items {
		display: grid;
		gap: 8px;
		justify-items: center;
		grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
		justify-content: center;
		width: 100%;
		height: 100%;
		border: 1px solid transparent;
	}

	&__episode {
		margin-bottom: 10px;
		width: 100%;
		max-width: 220px;
		height: 100%;
		text-decoration: none;
		color: #fff;
		position: relative;
		overflow: hidden;

		&:hover .main__effect {
			width: 100%;

			position: absolute;
		}

		&:hover .main__image {
			transform: scale(1.1);
			width: 100%;
			height: 100%;
		}
	}

	&__image {
		width: 100%;
		height: 100%;
		transform: scale(1);
		transition: 0.3s ease-in-out;
		object-fit: cover;
	}

	&__date {
		position: absolute;
		right: 2px;
		bottom: 25px;
		padding: 3px;
		border-radius: 4px;
		background: #2b7fa8;
		color: #fff;
		font-size: 13px;
	}

	&__title {
		position: absolute;
		bottom: 0px;
		right: 0px;
		left: 0px;
		padding: 5px 5px;
		background: rgba(39, 50, 66, .6);
		font-size: 14px;
		font-weight: 700;
		text-align: left;
	}

	&__effect {
		background: #2b7fa8;
		width: 0px;
		height: 3px;
		margin: 0 auto;
		position: absolute;
		bottom: 0px;
		right: 0px;
		left: 0px;
		cursor: pointer;
		transition: width 0.3s ease-in-out;
	}

	&__comments {
		background: #273242;
		padding: 15px;
		border-radius: 3px;
		height: 100%;
	}

	&__anime-top {
		display: flex;
		justify-content: center;
		padding-top: 19px;
		padding-bottom: 19px;
	}

	&__img-top {
		height: 800px;
		width: 200px;
	}

	&__face {
		background-image: url(imagenes/face_background.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		width: 238px;
		height: 108px;
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		justify-content: space-around;
		margin: 0 auto;
	}

	&__header-face {
		display: flex;
		align-items: center;
		justify-content: center;
		padding-left: 6px;
	}

	&__avatar {
		width: 54px;
		height: 54px;
		border: 2px solid #fff;
		box-shadow: 0 1px 6px rgb(0 0 0 / 50%);
	}

	&__header-information {
		padding-left: 5px;
	}


	&__flash {
		color: #fff;
		text-shadow: 0 2px 4px rgb(0 0 0 / 90%);
		font-size: 18px;
	}

	&__like {
		color: #fff;
		text-shadow: 0 2px 4px rgba(29, 18, 18, 0.9);
		font-size: 12px;
	}

	&__like-page {
		display: flex;
		background: #fff;
		align-items: center;
		justify-content: center;
		height: 18px;
		width: 143px;
	}

	&__face-svg {
		height: 12px;
		width: 12px;
	}

	&__likepage {
		font-size: 13px;
	}

	&__footer {
		display: flex;
		flex-direction: row;
		gap: 5px;
		height: 60px;
		width: 318px;
		background: #273242;
		justify-content: center;
		align-items: center;
		padding: 32px;
	}

	&__year {
		color: #A8A8AB;
		font-size: 13px;
	}

	&__server {
		color: #A8A8AB;
		font-size: 12px;
	}
}