.nav {
	display: none;
	align-items: center;
	padding: 0 15px;
	margin-left: 0;
	flex-wrap: nowrap;
	justify-content: flex-end;
	position: absolute;
	flex-direction: column;
	top: 50px;
	left: 0;
	z-index: 100;
	background-color: #273242;

	&__list {
		list-style: none;
	}

	&__item {
		display: inline-block;
	}

	&__link {
		text-decoration: none;
		font-size: 17px;
		display: inline-block;
		align-items: center;
		flex-direction: column;
		padding: 17px 13px;
		color: #fff;

		transition: .7s;
	}

	&__span {
		font-size: 16px;
		font-family: Georgia, 'Times New Roman', Times, serif;
		transition: -5s;
		text-align: center;
		width: 100%;
	}

	&__icon {
		width: 20px;
		height: 20px;
		color: white;
	}
}