.comment-policy {
	background-color: rgba(255, 255, 255, .2);
	color: #fff;
	width: 288px;
	height: 142px;
	border-radius: 4px;
	padding: 15px;
	margin-bottom: 25px;
	margin-top: 10px;
	position: relative;

	&__title {
		font-size: 17px;
		font-weight: 600;
		padding-right: 70px;
		padding-bottom: 6px;
		line-height: 1.45em;

	}

	&__text {
		font-size: 15px;
		line-height: 1.45em;
		color: rgba(255, 255, 255, .85);
		padding-right: 70px;
		padding-bottom: 4px;
	}

	&__icon {
		height: 60px;
		width: 60px;
		position: absolute;
		top: 46px;
		right: 14px;
	}
}