.profile {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	gap: 10px;
	position: relative;

	&:hover {
		display: block;
		min-width: 50vw;
		flex-direction: column;
		justify-content: flex-start;
		height: 35px;
		z-index: 200;
	}

	&__icon {
		border-radius: 13px;
		height: 50px;
		width: 50px;
	}

	&__login {
		display: none;
		align-items: center;
		top: 42px;
		left: -57px;
		background: #2b3650;
		position: absolute;
		height: 39px;
		padding: 5px;
		border-bottom: 1px solid;
		z-index: 9000;
	}

	&:hover.profile__login {
		display: flex;
	}


	&__login-icon {
		height: 18px;
		width: 20px;
	}

	&__text {
		font-size: 16px;
		color: #Ffffff;
		padding: 5px;
	}

	&__flecha {
		height: 18px;
		width: 20px;
		color: #fff;
		transform: rotate(90deg);
	}

	&:hover.__flecha {
		transform: rotateY(270deg);
	}
}